<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title bread_1
    body
        screen
            ul
                li
                    a(href="/") 화면
                li
                    a(href="/bread") 빵 종류
        block content                